.cardContainer {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;

  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: rgba(216, 216, 216, 0.3);
 

  .img {
    width: 95%;
    display: center;
    padding: 1px;
    border-radius: 4px 4px 4px 4px ;
  }

  .card {
    width: 230px;
    height: 320px;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    button {
      margin: 5px;
      margin-top: 10px;
      padding: 7px 8px;
      width: 90px;
      border-radius: 4px;
      border: none;
      border: 0px solid grey;
      cursor: pointer;
      color: white;
    
      background: rgb(80, 98, 172);
      box-shadow: 1px 1px 2px 1px rgba(70,70,70,0.3);

      &:hover {
       background-color: #444754;
      }

    }

  }

  /* CSS classes to define background colors */

  .red-border {

    border-color: rgb(193, 68, 95);
    border-width: 2px;
    background-color: white;
    
    button {
      background: rgb(193, 68, 95);
      box-shadow: 1px 1px 2px 1px rgba(70,70,70,0.3);
    }
  }

  .green-border {
    border-color: rgb(11, 115, 11);
    border-width: 2px;
    background-color: white;

    button {
      background: rgb(59, 152, 78);
      box-shadow: 1px 1px 2px 1px rgba(70,70,70,0.3);
    }
  }

  .grey-border {
    border-color: rgb(101, 124, 143);
    border-width: 0.5px;
  }

  .Searchbar {
    border: 1px solid rgb(255, 61, 61);
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }

}

.title {
  display: flex;
  justify-content: center;
}

.Filter {
  align-items: center;
  text-align: center;
}



